
{% include "partial/header" %}
<body ng-controller="CMSController">
<h1> Test Page {{ item }}</h1>

<ul>
{% for item in array %}

{% if item > 30 %}
 <li>list item is {{ item }} </li>
{% endif %}

{% endfor %}
</body>

{% include "partial/footer" %}